@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);

.spotPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.spotImg {
    width: 740px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.spotsDescrip {
    color: rgba(255, 255, 255, 87%);
    letter-spacing: 1px;
    font-size: 18px;
    height: 430px;
    overflow-y: auto;
}



.spotsDescrip::-webkit-scrollbar {
    border-radius: 10px;
}

.spotsDescrip::-webkit-scrollbar:hover {
    cursor: pointer;
}

.spotsDescrip::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 87%);
}

.spotPageInfo {
    width: 690px;
    height: 650px;
    padding: 25px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
    font-family: 'Vazirmatn';
    color: rgba(255, 255, 255, 87%);
}

.spotsBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 70px;
    margin-top: 50px;
    font-family: 'Vazirmatn';
}

.spotsEditBtn {
    display: flex;
    padding: 10px 10px 0 10px;
    margin: 10px;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #5060b8;
    font-size: 14px;
    letter-spacing: 1px;
}

.spotsDeleteBtn {
    padding: 10px 10px 0 10px;
    margin: 10px;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #5060b8;
    font-size: 14px;
    justify-content: center;
    letter-spacing: 1px;
}

.spotsDeleteBtn:hover {
    background-color: red;
    cursor: pointer;
}

.spotsEditBtn:hover {
    background-color: #248bde;
    cursor: pointer;
}

.spotsBtnTxt {
    color: rgba(255, 255, 255, 87%);
    padding-top: 10px;
    text-align: center;
    width: 90px;
    height: 30px;
    justify-content: center;
}

.spotTitle {
    font-size: 40px;
}


.reviewContainer {
    display: flex;
    margin-right: 70px;
    flex-direction: column;
    height: 800px;
    overflow-y: auto;
}

.reviewContainer::-webkit-scrollbar {
    border-radius: 10px;
}

.reviewContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 87%);
    border: .5px solid rgba(255, 255, 255, 87%);
}

.reviewCard {
    margin: 20px;
    width: 500px;
    padding: 30px;
    border-radius: 16px;
    font-family: 'Vazirmatn';
    color: rgba(255, 255, 255, 87%);
}

.rvwTitle {
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 255, 255, 87%);
    letter-spacing: 1px;
}

.rvwCount {
    color: rgba(255, 255, 255, 87%);
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Vazirmatn';
    margin-left: 55px;
    margin-right: 95px;
    margin-top: 20px;
    width: 560px;
    padding-left: 30px;
}

.rvwUserName {
    font-size: 20px;
    font-weight: bold;
}

.editRvwLink {
    color: rgba(255, 255, 255, 87%);
}

.editRvwLink:hover {
    cursor: pointer;
    color: #248bde;
    border-bottom: 5px #248bde solid;
    font-size: 18px;
}

.rvwEditBtn {
    padding-bottom: 15px;
    letter-spacing: 1px;

}

.rvwDeleteBtn {
    padding-bottom: 10px;
}

.rvwBtnTxt {
    color: rgba(255, 255, 255, 87%);
    letter-spacing: 1px;
}

.rvwBtnTxt:hover {
    cursor: pointer;
    color: red;
    font-size: 18px;
    border-bottom: 5px red solid;
}

.spotPrice {
    font-size: 25px;
    font-weight: bold;
}

.spotStateAndCity {
    font-size: 20px;
}


.errors {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}
