@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);

.spotPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.spotImg {
    width: 740px;
    height: 500px;
    border-radius: 10px 10px 0 0;
    box-shadow: white 0px 0 10px;
    object-fit: cover;
}

.spotPageInfo {
    width: 690px;
    padding: 25px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
    font-family: 'Vazirmatn';
    background-color: rgba(0, 0, 0, .7);
    color: rgba(255, 255, 255, 87%);
    box-shadow: white 0px 0 10px;
}

.spotsBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Vazirmatn';
}

.spotsEditBtn {
    display: flex;
    margin: 10px;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(90, 81, 81);
    font-size: 14px;
    letter-spacing: 1px;
}

.spotsDeleteBtn {
    margin: 10px;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(90, 81, 81);
    font-size: 14px;
    justify-content: center;
    letter-spacing: 1px;
}

.spotsDeleteBtn:hover {
    background-color: red;
}

.spotsEditBtn:hover {
    background-color: blue;
}

.spotsBtnTxt {
    color: white;
    padding-top: 10px;
    text-align: center;
    width: 90px;
    height: 30px;
    justify-content: center;
}

.spotTitle {
    font-size: 40px;
}

.spotsDescrip{
    color: rgba(255, 255, 255, 87%);
    letter-spacing: 1px;
    font-size: 18px;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
}

.reviewCard {
    margin: 20px;
    width: 500px;
    padding: 30px;
    border-radius: 16px;
    font-family: 'Vazirmatn';
    background-color: rgba(0, 0, 0, .7);
    color: rgba(255, 255, 255, 87%);
    box-shadow: rgba(255, 255, 255, 87%) 0px 0 10px;
}

.rvwTitle {
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px solid rgba(255, 255, 255, 87%);
    letter-spacing: 1px;
}

.rvwUserName {
    font-size: 20px;
    font-weight: bold;
}

.editRvwLink {
    color: rgba(255, 255, 255, 87%);
}

.editRvwLink:hover {
    cursor: pointer;
    color: blue;
    border-bottom: 5px blue solid;
    font-size: 18px;
}

.rvwEditBtn {
    padding-bottom: 15px;
    letter-spacing: 1px;

}

.rvwDeleteBtn {
    padding-bottom: 10px;
}

.rvwBtnTxt {
    color: rgba(255, 255, 255, 87%);
    letter-spacing: 1px;
}

.rvwBtnTxt:hover {
    cursor: pointer;
    color: red;
    font-size: 18px;
    border-bottom: 5px red solid;
}

.spotPrice {
    font-size: 25px;
    font-weight: bold;
}

.spotStateAndCity {
    font-size: 20px;
}

.postReviewContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 25px 30px 30px 30px;
}

.errors {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
