.editReviewContainer{
    background-color: black;
    box-shadow: white 0px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    margin: 75px;
    padding: 25px 30px 30px 30px;
    border-radius: 10px;
}

.editTitleInput {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
}

.editTitleInput:hover {
    cursor: pointer;
}

.editTitleInput:focus {
    cursor: text;
}

.editContentInput {
    align-items: flex-start;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    width: 250px;
    height: 75px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
}

.editContentInput:hover {
    cursor: pointer;
}

.editContentInput:focus {
    cursor: text;
}

.editContentInput::-webkit-scrollbar {
    background-color: black;
}

.editContentInput::-webkit-scrollbar-thumb {
    background-color: rgb(52, 47, 47);
}
textarea {
    border: none;
}

textarea:focus, input:focus{
    outline: 0;
}

.editRvwBtn {
    padding: 10px;
    width: 275px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
    color: white;
    font-size: 18px;
    background-color: rgb(90, 81, 81);
}

.editRvwBtn:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
    font-weight: bold;
}


.errors {
    color: white;
    margin-left: 20px;
}
