.signupContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 460px;
    text-align: center;
}

.signupBtn {
    padding: 10px;
    width: 275px;
    border-radius: 8px;
}
