@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.spotsPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spotsPageTitle {
    font-size: 50px;
    font-family: 'Fredoka One';
    letter-spacing: 3px;
}

.spotsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spotsBox{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 16px;
    background-color: white;
}

.spotsBox:hover {
    cursor: pointer;
}

.imageBox{
    width: 380px;
    border-radius: 14px 14px 0 0;
}

.spotsInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    font-family: 'Vazirmatn';
}


.spotsImage{
    width: 380px;
    height: 190px;
    border-radius: 15px 15px 0 0;
}
