@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.spotsFormPageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.spotsFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height:auto;
    text-align: center;
    margin-bottom: 63px;
    margin-top: 50px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 87%);
}

.spotsInput {
    padding: 16px;
    margin: 0px 0px 15px 0px;
    width: 342px;
    border-radius: 4px;
    border: none;
    font-family: 'Vazirmatn';
    font-weight: bold;
    font-size: 16px;
    color: #121212;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 87%);
}

.spotsTextarea::-webkit-scrollbar {
    border-right: .5px black solid;
    border-left: .5px black solid;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #121212;
}

.spotsTextarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 87%);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.spotsInput:hover {
    cursor: pointer;
}

.spotsInput:focus {
    cursor: text;
}

.spotsTextarea {
    height: 80px;
    border: none;
    resize: none;
    outline: none;
}

.postBtn {
    background-color: #343D73;
    padding: 20px;
    width: 375px;
    border-radius: 4px;
    border: none;
    font-family: 'Vazirmatn';
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: box-shadow .2s .2s ease, transform .4s ease;
}


.postBtn:hover {
    background-color: #800FF2;
    font-weight: bold;
    font-size: 18px;
    width: 375px;
    cursor: pointer;
    border: none;
    transform: translateY(-3px);
}

.errors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
