@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.spotsPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spotsPageTitle {
    font-size: 50px;
    font-family: 'Fredoka One';
    letter-spacing: 3px;
}

.spotsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.spotsBox{
    display: flex;
    flex-direction: column;
    margin: 35px;
    border-radius: 16px;
    box-shadow: white 0px 0 10px;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, .7);
    color: white;
}

.spotsBox:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 5px 5px 15px white;
    margin: 35px;
}

.imageBox{
    width: 380px;
    border-radius: 14px 14px 0 0;
}

.spotsInfoContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 10px;
    font-family: 'Vazirmatn';
    padding: 5px;
    margin: 10px;
    overflow-wrap: break-word;
}


.spotsImage{
    width: 380px;
    height: 190px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.spotsTitle {
    font-size: 20px;
    font-weight: bold;
}

.spotsPrice {
    font-weight: bold;
}

.spotsBoxInfo {
    overflow-wrap: break-word;
    flex-wrap: wrap;
    width: 340px;
}
