@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePic {
    border-radius: 16px;
    width: 1100px;
    height: 550px;
    margin: 30px 50px 70px 50px;
    /* box-shadow: white 0px 0 10px; */
}

.homeBoxContainer1 {
    display: flex;
    justify-content: space-around;
}

.homeBox {
    width: 500px;
    height: 500px;
    border-radius: 18px;
}

.homeBox:hover {
    cursor: pointer;
    transform: scale(1.06);
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, .06); */
    box-shadow: 5px 5px 10px transparent;

}

.box1 {
    background-color:  rgb(8, 8, 83);
    margin: 15px 20px 15px 0;
    transition: 0.5s ease;
    /* box-shadow: white 0px 0 10px; */
    /* background-color: rgba(0, 0, 0, .7); */

}

.box1Img {
    width: 100%;
    height: 350px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.box2 {
    background-color: rgb(8, 8, 83);
    margin: 15px 0px 15px 50px;
    transition: 0.5s ease;
    /* box-shadow: white 0px 0 10px; */
    /* background-color: rgba(0, 0, 0, .7); */
}

.box2Img {
    width: 100%;
    height: 350px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.homePic2 {
    border-radius: 16px;
    width: 1100px;
    height: 550px;
    margin: 70px;
    /* box-shadow: white 0px 0 10px; */
}

.boxText{
    color: rgba(255, 255, 255, 87%);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Vazirmatn';
    padding: 15px;
}

.homePageGreet {
    color: rgba(255, 255, 255, 87%);
    font-family: 'Vazirmatn';
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin: 0%;
}

.homePageGreet2 {
    color: rgba(255, 255, 255, 87%);
    font-family: 'Vazirmatn';
    letter-spacing: 3px;
    font-size: 25px;
    text-align: center;
    margin: 0%;
}

.homeGreetContainer {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 10px;
    margin-top: 100px;
    /* background-color: rgba(0, 0, 0, .5); */
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: rgba(255, 255, 255, 87%) 0px 0 10px; */
}

.greet {
    margin: 0;
}

.fakeBtn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(8, 8, 83);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 87%);
    width: 120px;
    height: 40px;
    margin-top: 30px;
    margin-right: 15px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Vazirmatn';
}

.box2Content {
    display: flex;
}

.fakeBtn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(8, 8, 83);
    font-weight: bold;
    background-color: rgba(255, 255, 255, 87%);
    width: 160px;
    height: 40px;
    margin-top: 30px;
    margin-right: 15px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Vazirmatn';
}

.box1Content {
    display: flex;
}
