@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);

.footerContainer {
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.9); */
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    top: calc(93%);
}

.name {
    color: rgba(255, 255, 255, 87%);
    font-family: 'Vazirmatn';
    font-size: 20px;
    margin-left: 25px;
    margin-right: 10px;
    letter-spacing: 1.5px;
}

.linkedin {
    margin-left: 10px;
    margin-right: 10px;
}

.aboutMe {
    display: flex;
}

.tech {
    display: flex;
    padding-right: 10px;
}

.node {
    margin-left: 10px;
    margin-right: 10px;
}

.express {
    margin-left: 10px;
    margin-right: 10px;
}

.postgres {
    margin-left: 10px;
    margin-right: 10px;
}

.react {
    margin-left: 10px;
    margin-right: 10px;
}

.redux {
    margin-left: 10px;
    margin-right: 10px;
}

.github {
    margin-left: 10px;
    margin-right: 10px;
}

.linkedIn {
    margin-left: 10px;
    margin-right: 10px;
}
