@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);

.footerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* top: calc(93%); */
}


.name {
    color: rgba(255, 255, 255, 87%);
    font-family: 'Vazirmatn';
    font-size: 20px;
    margin: 15px 0px 0px 25px;
    letter-spacing: 1.5px;
    transition: all 2s .1s ease;
    width: 140px;
    height: 60px;
}

.name:hover span {
    display: none;
    transform: scale(1.1);
}

.name:hover {
    transform: scale(1.1);
    width: 140px;
    height: 60px;
    /* margin-top: 10px; */
    /* margin-left: 30px;
    margin-right: 20px; */
    font-size: 22px;
}

.name:hover:before {
    content: 'Portfolio';
    color: rgb(140, 53, 215);
}

.linkedin {
    margin-left: 10px;
    margin-right: 10px;
}

.aboutMe {
    display: flex;
}

.tech {
    display: flex;
    padding-right: 10px;
}

.node {
    margin-left: 10px;
    margin-right: 10px;
}

.express {
    margin-left: 10px;
    margin-right: 10px;
}

.postgres {
    margin-left: 10px;
    margin-right: 10px;
}

.react {
    margin-left: 10px;
    margin-right: 10px;
}

.redux {
    margin-left: 10px;
    margin-right: 10px;
}

.github {
    margin-left: 15px;
    margin-right: 10px;
}

.linkedIn {
    margin-left: 10px;
    margin-right: 10px;
}
