@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);

.footerContainer {
    display: flex;
    /* background-color: rgba(0, 0, 0, 0.9); */
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    top: calc(93%);
}

.name {
    color: white;
    font-family: 'Vazirmatn';
    margin-left: 15px;
    margin-right: 10px;
}

.linkedin {
    margin-left: 10px;
    margin-right: 10px;
}

.aboutMe {
    display: flex;
}

.tech {
    display: flex;
    padding-right: 10px;
}

.node {
    margin-left: 10px;
    margin-right: 10px;
}

.express {
    margin-left: 10px;
    margin-right: 10px;
}

.postgres {
    margin-left: 10px;
    margin-right: 10px;
}
