@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);


.postReviewContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0px 67px 105px 0px;
    padding: 25px 30px 30px 30px;
    border-radius: 10px;
}

.reviewTitleInput {
    padding: 20px;
    margin: 0px 0px 10px 0px;
    width: 375px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #121212;
    font-family: 'Vazirmatn';
    background-color: rgba(255, 255, 255, 87%);
}

.reviewTitleInput:hover {
    cursor: pointer;
}

.reviewTitleInput:focus {
    cursor: text;
}

.reviewContentInput {
    align-items: flex-start;
    padding: 20px;
    margin: 0px 0px 10px 0px;
    width: 375px;
    height: 75px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: rgba(255, 255, 255, 87%);
    resize: none;
    outline: none;
}

.reviewContentInput:hover {
    cursor: pointer;
}

.reviewContentInput:focus {
    cursor: text;
}


.postRvwBtn {
    padding: 20px;
    width: 416px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
    color: rgba(255, 255, 255, 87%);
    letter-spacing: 1.2px;
    font-size: 16px;
    font-weight: bold;
    background-color: #343D73;
    transition: box-shadow .2s .2s ease, transform .4s ease;
}

.postRvwBtn:hover {
    background-color: #800FF2;
    cursor: pointer;
    color: rgba(255, 255, 255, 87%);
    font-weight: bold;
    font-size: 18px;
    transform: translateY(-3px);
}
