@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);


.postReviewContainer{
    background-color: black;
    /* box-shadow: white 0px 0 10px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    margin: 75px;
    padding: 25px 30px 30px 30px;
    border-radius: 10px;
}

.reviewTitleInput {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
    background-color: white;
}

.reviewTitleInput:hover {
    cursor: pointer;
}

.reviewTitleInput:focus {
    cursor: text;
}

.reviewContentInput {
    align-items: flex-start;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    width: 250px;
    height: 75px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
}

.reviewContentInput:hover {
    cursor: pointer;
}

.reviewContentInput:focus {
    cursor: text;
}


.postRvwBtn {
    padding: 10px;
    width: 271px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
    color: white;
    letter-spacing: 1.2px;
    font-size: 18px;
    background-color: rgb(90, 81, 81);
}

.postRvwBtn:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
