@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);

.profileContainer{
    position: relative;
    display: inline;
}

.profileContainer:hover .profile-dropdown {
    display: block;
}

.profileBtn{
    margin-right: 50px;
    margin-top: 5px;
}

.profileBtn:hover {
    cursor: pointer;
}

.profile-dropdown:hover {
    cursor: pointer;
}

.dropdownInfo2{
    font-size: 22px;
}

.dropdownInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 87%);
    font-size: 18px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    width: 100%;
    font-weight: bolder;
    height: 75px;
    /* box-shadow: 0 0px 5px; */
    /* background-color: rgba(0, 0, 0, .5); */
    background-color: rgba(245, 237, 237, 0.1);
    backdrop-filter: blur(3px);
}


.dropdownContent li:hover {
    color: rgba(255, 255, 255, 87%);
    font-weight: bold;
}

.dropdownBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 87%);
}
