@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


#navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLink{
    font-family: 'Vazirmatn';
    margin: 5px;
    font-size: 18px;
    margin-right: 10px;
}

.navLink:hover{
    cursor:pointer;
    border-bottom: 3px solid rgb(184, 28, 28);
}

.homeBtn {
    font-size: 32px;
    font-family: 'Fredoka One', cursive;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoContainer:hover{
    cursor:pointer;
}

.profileBtn{
    border-radius: 20px;
}
