#navContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: blue; */
}

.navLink{
    font-family: 'Vazirmatn';
    margin: 5px
}

.navLink:hover{
    font-size: 18px;
    cursor:pointer
}

.homeBtn {
    font-size: 32px;
    font-family: 'Vazirmatn';
    /* background-color: blue; */
}

a {
    text-decoration: none;
    color: black;
}
