@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 350px;
    height: auto;
    text-align: center;
    background-color: rgba(245, 237, 237, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    color: rgba(255, 255, 255, 87%);
}

.logoName {
    font-family: 'Fredoka One';
    font-size: 32px;
    letter-spacing: 2px;
}

.modalInput {
    padding: 16px;
    margin: 0px 20px 10px 20px;
    width: 275px;
    border-radius: 2px;
    border: none;
    font-family: 'Vazirmatn';
    font-weight: bold;
    font-size: 16px;
    color: #121212;
    background-color: rgba(255, 255, 255, 87%);
}

.modalInput:hover {
    cursor: pointer;
}

.modalInput:focus {
    cursor: text;
}

.loginBtn {
    padding: 20px;
    width: 308px;
    margin: 15px 50px 10px 50px;
    border-radius: 4px;
    border: none;
    font-family: 'Vazirmatn';
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 87%);
    background-color: #40d9ac;
    transition: box-shadow .2s .2s ease, transform .2s ease;
}

.demoBtn {
    padding: 20px;
    width: 308px;
    border-radius: 4px;
    border: none;
    font-family: 'Vazirmatn';
    margin: 10px 50px 70px 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(67, 16, 148);
    color: rgba(255, 255, 255, 87%);
    transition: box-shadow .2s .2s ease, transform .2s ease;
}

.loginBtn:hover {
    color: rgba(255, 255, 255, 87%);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transform: translateY(-3px);
    /* background-color: rgb(18, 18, 119); */
    /* box-shadow: 0 2px 4px 0 rgb(0 0 0); */
}

.demoBtn:hover {
    color: rgba(255, 255, 255, 87%);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: none;
    /* box-shadow: 0 2px 4px 0 rgb(0 0 0); */
    transform: translateY(-3px);
}

.logoContainer {
    align-items: center;
    justify-content: center;

}

.BtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
}


.errorContainer {
    padding-right: 20px;
}

.errorsLogin {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: left;
      color: red;
      letter-spacing: 1px;
}
