@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
    height: auto;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: white;
}

.logoName {
    font-family: 'Fredoka One';
    font-size: 32px;
    letter-spacing: 2px;
}

.modalInput {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
    font-size: 16px;
    color: black;
}

.modalInput:hover {
    cursor: pointer;
}

.modalInput:focus {
    cursor: text;
}

.loginBtn {
    padding: 10px;
    width: 274px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
    font-size: 16px;
    font-weight: bold;
}

.demoBtn {
    padding: 10px;
    width: 274px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
    margin: 10px 0 15px 0;
    font-size: 16px;
    font-weight: bold;
}

.loginBtn:hover {
    background-color: rgb(18, 18, 119);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.demoBtn:hover {
    background-color: rgb(67, 16, 148);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.logoContainer {
    align-items: center;
    justify-content: center;

}

.BtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0%;
}


.errorContainer {
    padding-right: 20px;
}

.errorsLogin {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: left;
      color: red;
      letter-spacing: 1px;
}
