@import url(https://fonts.googleapis.com/css?family=Vazirmatn:100,200,300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: white;
}

h2 {
    font-family: 'Fredoka One';
    font-size: 32px;
}

input {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
}

input:hover {
    cursor: pointer;
}

input:focus {
    cursor: text;
}

.loginBtn {
    padding: 10px;
    width: 275px;
    border-radius: 8px;
    border: none;
    font-family: 'Vazirmatn';
}

.loginBtn:hover {
    background-color: rgb(18, 18, 119);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.logoContainer {
    align-items: center;
    justify-content: center;
}
